---
layout: default
title: Home
---

{%assign blogPosts = site.posts | where: "categories", "blog" %}

<ul class="post-list">
  <h4>Inquiry</h4>
  {% for post in blogPosts %}
    <li>
      {% if post.thumb %}
        <a href="{{ post.url }}">
          <img src="{{ post.thumb }}" alt="{{ post.title }}" class="post-thumb">
        {% else %}
        <img src="/assets/images/placeholder.png" alt="" class="post-thumb">
        {% endif %}
        </a>
        <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

{%assign notesPosts = site.posts | where: "categories", "notes" %}

<ul class="post-list">
  <h4>Notes</h4>
  {% for post in notesPosts %}
    <li>
      {% if post.thumb %}
        <a href="{{ post.url }}">
          <img src="{{ post.thumb }}" alt="{{ post.title }}" class="post-thumb">
        {% else %}
        <img src="/assets/images/placeholder.png" alt="" class="post-thumb">
        {% endif %}
        </a>
      <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<!--
{%assign videoPosts = site.posts | where: "categories", "video" %}

<ul class="post-list">
  <h4>Motion</h4>
  {% for post in videoPosts %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
-->